@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-default: "Manrope", sans-serif;

  --color-font-pink: #d5778d;
  --color-font-pink-hover: #b36476;

  --color-font-gray: #b5aba1;
  --color-font-gray-hover: #878078;

  --color-font-darkgray: #979797;

  --animate-fade-in: fadeIn 0.15s ease-in-out forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
